IMMICH_API_KEY="abcdefghijklmnopqrstuvwxyz"
IMMICH_BASE_URL=http://192.168.1.94:2283/api
PERSON_ID=""
DATE_FROM="2023-01-01"
DATE_TO="2023-12-31"
RESIZE_SIZE=512
FACE_RESOLUTION_THRESHOLD=80
POSE_THRESHOLD=25.0
EAR_THRESHOLD=0.2
MAX_WORKERS=1
DO_NOT_COMPILE_VIDEO=false
FRAMERATE=15
LABEL=true
LABEL_SIZE=12
LABEL_POS="bottom_left"
LABEL_FORMAT="%Y-%m-%d"
LABEL_PADDING=10
LABEL_FILL="white"
KEEP=false
KEEP_HOURLY=1
KEEP_DAILY=3
KEEP_WEEKLY=10
KEEP_MONTHLY=20
KEEP_YEARLY=50
