IMMICH_API_KEY="abcdefghijklmnopqrstuvwxyz"
IMMICH_BASE_URL=http://192.168.1.94:2283/api

# SEARCH_TAKEN_AFTER="1970-01-01"
# SEARCH_TAKEN_BEFORE="2026-01-25"
# SEARCH_ALBUM_ID=""
# SEARCH_IS_FAVORITE=false

KEEP=true
KEEP_HOURLY=1
KEEP_DAILY=3
KEEP_WEEKLY=10
KEEP_MONTHLY=20
KEEP_YEARLY=50

FACE_RESOLUTION_THRESHOLD=80
FACE_PADDING_RATIO=1.2
FACE_RESIZE_SIZE=520

LABEL=false
# LABEL_SIZE=12
# LABEL_POS="bottom_left"
# LABEL_FORMAT="%Y-%m-%d"
# LABEL_PADDING=10
# LABEL_FILL="#FFFFFF"

VIDEO_COMPILE=true
VIDEO_FRAMERATE=15
VIDEO_WORKERS=4
