# This
IMMICH_API_KEY="abcdefghijklmnopqrstuvwxyz"
IMMICH_BASE_URL="http://192.168.1.94:2283/api"
OUTPUT_FOLDER="output"
LANDMARK_MODEL="shape_predictor_68_face_landmarks.dat"

# That
DEFAULT_PERSON_ID=""
DEFAULT_RESIZE_SIZE=512
DEFAULT_FACE_RESOLUTION_THRESHOLD=80
DEFAULT_POSE_THRESHOLD=25.0
DEFAULT_LEFT_EYE_POS_X=0.35
DEFAULT_LEFT_EYE_POS_Y=0.4
DEFAULT_DATE_FROM="2023-01-01"
DEFAULT_DATE_TO="2023-12-31"
