{% macro render_field(field) %}
<div class="w-full">
  <div class="flex w-full flex-col gap-1">
    <label class="text-dark" for="{{ field.id }}">
      {{ field.label.text }}
    </label>
    <div class="flex w-full items-center bg-gray-200 outline-none disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-400 dark:bg-gray-600 dark:disabled:bg-gray-800 dark:disabled:text-gray-200 rounded-2xl">
      {{ field(class="flex-1 bg-transparent py-3 outline-none disabled:cursor-not-allowed text-base pl-4 pr-4 svelte-17r7eny", **kwargs)|safe }}
    </div>
    {% if field.errors %}
      <ul class="text-red-500 text-sm mt-1">
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
{% endmacro %}
